@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex justify-content-center mt-5">
        <a asp-action="GetAllC" asp-controller="Company" class=" btn btn-outline-primary mx-2">View All Companies</a>
        <a asp-action="GetAll" asp-controller="Employee" class=" btn btn-outline-primary mx-2">View All Employees</a>
    </div>

</div>
